<Html>
  <div class="nav">
      <ul>
        <li class="home"><a href="#">Home</a></li>
        <li class="tutorials"><a class="active" href="#">Research</a></li>
        <li class="about"><a href="#">Publications</a></li>
        <li class="news"><a href="#">Software</a></li>
        <li class="contact"><a href="#">News & Events</a></li>
                <li class="contact"><a href="#">People</a></li>
                        <li class="contact"><a href="#">Contact Us</a></li>
      </ul>
    </div>
</Html>
